
ejemplo_menu (borrar).sh
*.out
imagenes/sofia_damaris.jpg
scripts/archivo/backup.zip
scripts/archivo/checksum.md5
*.jpg
imagenes_comprimidas.md5
imagenes_comprimidas.zip
archivos_comprimidos.zip
archivos_comprimidos.zip
archivos_comprimidos.zip
Nombre_imagenes_validas
archivos_comprimidos.zip
csv/dict.csv
archivos/csv/dict.csv
